ul, body {
    padding: 0;
    margin: 0;
}

body {
    margin: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

header img {
    width: 150px;
    margin-right: 15px;
}

#menu-nav {
    display: flex;
    flex-wrap: wrap;
}

#menu-nav li {
    list-style: none;
}

#menu-nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

#menu-nav li a:hover,
.active {
    background: black;
}

#page, header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;

    background: green;
    padding: 15px;
}

#page {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#page aside {
    width: 20%;
}

#page main {
    width: 78%;
}

#page aside, #page main {
    box-shadow: 0 0 4px 3px #0000003d;
    padding: 15px;
}

.product img {
    width: 150px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product {
    width: 30%;
    border: 1px solid;
    margin: 13px;
    text-align: center;
    padding: 15px;
}

#sidebar-menu a {
    display: block;
    padding: 8px 5px;
}

#sidebar-menu a:hover {
    background: #ddd;
}

footer {
    margin: 15px auto;
    max-width: 1200px;
    background: black;
    color: white;
    padding: 15px 0;
    text-align: center;
}

h1 {
margin-left: 10px;
text-transform: uppercase;

}

/* Form registration styles */

#form-registration {
    max-width: 400px;
    box-shadow: 0 0 3px 2px #00000047;
    padding: 15px;
    margin: 15px auto;
}

#form-registration .form-text,
#form-registration .sex-block,
#form-registration .subscribe,
#form-registration textarea {
    width: 100%;
    margin-bottom: 15px;
    display: block;
}

#form-registration .form-text {
    height: 30px;
    padding: 5px;
    font-size: 18px;
}

#form-registration button {
    background-color: green;
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#form-registration button:hover {
    background: rgb(148, 113, 97);
}


@media(max-width: 1060px) {
    .product {
        width: 40%;
    }

    #products {
        justify-content: center;
    }
}

@media(max-width: 820px) {
    .product {
        width: 45%;
    }
}

@media(max-width: 720px) {
    header {
        flex-direction: column;
    }

    header img {
        margin: 0 0 15px 0;
    }

    #menu-nav,
    #page {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .product {
        width: 90%;
    }

    #page aside, 
    #page main {
        width: 95%;
        margin-bottom: 15px;
    }
}